.tooltip{
    background-color: lightgrey;
}
.token {
    cursor: pointer;
    border-radius: 5px;
}

.wrapper {
    display: grid;
}

.wrapper div {
    margin: 7px;
}

iframe.previewhtml {
    border: 1px solid #ccc;
    padding: 5px;
    max-width: 50px;
    min-height: 400px;
    overflow: auto;
}
.token mark {
    display: contents;
}