.tooltip{
    background-color: lightgrey;
}
.token {
    cursor: pointer;
}

.wrapper {
    display: grid;
}

.wrapper div {
    margin: 7px;
}


iframe.previewhtml {
    border: 1px solid #ccc;
    padding: 5px;
    max-width: 50px;
    min-height: 400px;
    overflow: auto;
}
/* #srctext {
    display: flex
}
.token mark {
    display:inline-block;
    font-size: 15px
} */