.wrapper {
    display: grid;
    /* grid-template-columns: 300px 300px; */
}
.tooltip{
    background-color: lightgrey;
}
.token {
    cursor: default;
    border-radius: 5px;
}

.wrapper {
    display: grid;
}

.wrapper div {
    margin: 7px;
}

iframe.previewhtml {
    border: 1px solid #ccc;
    padding: 5px;
    max-width: 50px;
    min-height: 400px;
    overflow: auto;
}
.token mark {
    display: contents;
}
#analysispanel {
    visibility: hidden;
    top: 0;
    margin-left: 10px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    font: 12px sans-serif;
    background: #e5ffff;
    border: 1px solid gray;
    border-radius: 8px;
    pointer-events: none;
  }

#lang_select{
    margin-left: 10px;
}

#level_select{
    margin-left: 10px;
}
.description {
    color: dark gray;
    font-size: 12px;
    border: 1px solid #ccc;
    margin: 7px;
    /* text-align:center; */
}
.glyphicon {
    color: #69b3a2;
}
#myCarousel {
    background: none;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
  height: 0
}
.sentleveltitle {
    /* padding-top: 10px */
}
.carousel .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
  }
  
  .carousel .carousel-indicators .active {
    background-color: #444;
  }
  .item {
    text-align: center;
  }

  #sent-length, #word-freq, #lex-richness{
      min-height: 20vh;
  }

table, th, td {
    padding: 2px;
}
.carousel-control-prev-icon{
    outline: black;
    border: 1px solid black;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}


